*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
}
.bg {
	width: 100%;
	height: 100%;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow-y: auto;
}
.smart a{
	font-size: 28px;
	color: #ffff99;
	font-family: Bookman;
}

.page-header h1{
	font-size: 70px;
	padding-right: 90px;
	color: white;
	font-family: Bookman;
	
}

.page-header h3{
	font-size: 28px;
	padding: 5px 0;
	opacity: 0.6;
	color: white;
}
.show h2{
	font-size: 28px;
	color: #ffff99;
	font-family: Bookman;
}

.show p {
	font-size: 25px;
	line-height: 35px;
	margin-bottom: 15px;
	color: white;
	font-family: Times;
}
.content article{
	font-size: 25px;
	line-height: 35px;
	margin-bottom: 15px;
	color: white;
	font-family: Times;
}

.form-group p{
	font-size: 25px;
	line-height: 35px;
	margin-bottom: 15px;
	color: white;
	font-family: Times;
}
.form-text {
	color:white;
}




